{% extends "../base.html" %}
{% load wagtailcore_tags %}

{% block content %}

<title>Home</title>

<div x-data="{}">

    <div id="navbar">
        <nav class="top-nav">
            <a href="/blog/">Blog List</a>
        </nav>

    </div>

    <div id="homeBody">
        <div class="home-content-wrapper">
            <div>
                {% for block in self.test_body %}
                    {% include_block block %}

                {% endfor %}
            </div>

        </div>

        {% block blogContent %}
        {% endblock %}

    </div>
</div>

{% endblock %}