{% extends "../base.html" %}

{% block content %}

<title>Home</title>

<div x-data="{}">

    <div id="navbar">
        <nav class="top-nav">
            <a href="/blog/">Blog List</a>
        </nav>


        
        <div class="home-title">
            j0e1.dev's Blogpost CMS
        </div>
    </div>


    <div id="homeBody"> 

        <div class="info">
            <p>This is my CMS project that I built to learn Wagtail and the CMS structure and how it differs from a normal Django application.</p>
        </div>

        <div id="featuredPosts">

        </div>


        {% block blogContent %}
        {% endblock %}

    </div>
</div>

{% endblock %}