{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block blogContent %}


<div x-data="{}" id="blogContent">
    <nav class="top-nav">
        <a href="/">Home</a>
        <a href="/blog">Blog List</a>
    </nav>

    <h1 class="page-title">{{ page.title }}</h1>

    <p class="blog-publish-date"> Published on {{ page.publication_date }}</p>

    <p class="blog-summary">{{ page.summary }}</p>

    {% image page.featured_image fill-800x400 %}

    <div>

        {{ page.body|richtext }}

    </div>

</div>

{% endblock %}