{% extends "home/home_page.html" %}
{% load wagtailcore_tags %}

{% block content %}

<div x-data="{}" class="blog-index-container" >

    <nav class="top-nav">
        <a href="/">Home</a>
    </nav>

    <h1 class="page-title">All Blogs</h1>

    {% for post in posts %}

    <div class="blog-list-container">
        <a class="blog-page-link" href="{% pageurl post %}">
            {{ post.title }}
        </a>

        <p class="blog-summary">{{ post.summary }}</p>
    </div>

    {% endfor %}

</div>


{% endblock %}